/* Css reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

/* Generics  */

body {
    background-color: #083B4C;
    padding-bottom: 50px;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding: 50px;
}

/* Utils  */

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

#target li, #test li {
    list-style-type: none;
    padding: 1rem;
    /* background-color: aqua; */
    cursor: pointer;
    transition: transform 0.5s;
    height: 225px;
    
    flex-basis: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#target li:hover {
    transform: scale(1.05);
    filter: brightness(1.25);
}

/* Colors  */
.bg-green {
    background-color: #0CD6A1;
}

.bg-fuchsia {
    background-color: #F0466F;
}

.bg-blue {
    background-color: #1389B2;
}

.bg-orange {
    background-color: #FFD166;
}